body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2c1f9c, #0ad4ca, rgb(0, 4, 255));
    color: #fff;
    margin: 0;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 { margin-bottom: 20px; }

#question {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#options {
    display: grid;
    gap: 10px;
}

.option-btn {
    padding: 12px;
    background: linear-gradient(to right, rgb(0, 4, 255),#0ad4ca,  #2c1f9c);
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 8px;
    transition: 0.3s;
}

.option-btn:hover {
    background: #334155;
    color: white;
}

.option-btn.correct { background: #16a34a; }
.option-btn.wrong { background: #dc2626; }

.info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#timer.warning {
    color: red;
    font-weight: bold;
}

.hidden { display: none; }

button {
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    background: #2575fc;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

@media (max-width:600px){
    #question { font-size: 1.2rem; }
}